@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  font-style: white;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color: White !important;
}

.slick-dots li button:before {
  color: white !important;
}

@layer base {
  body {
    @apply font-inter;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
